@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Josefin Sans, sans-serif;
}

body {
  background-color: #fff8f8;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 2rem;
  font-size: 2rem;
}
.title--color {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.image {
  padding-block: 2rem 4rem;
}

.text {
  color: hsl(0, 36%, 70%);
  padding-inline: 2rem;
  text-align: center;
}

.header__logo {
  width: 7girem;
  padding-left: 2rem;
  padding-top: 2rem;
}
